<main>
  <mat-card>
    <div class="hero">
      <img  mat-card-image src="assets/images/illustration-hero.svg" alt="hero" />
    </div>

    <h1>Order Summary</h1>
    <p>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>

    <div class="annual-plan">
      <div class="music-icon">
        <img src="assets/images/icon-music.svg" alt="music icon" />
      </div>
      <div class="plan">
        <h4>Annual Plan</h4>
        <span>$59.99/year</span>
      </div>
      <div class="change">
        <a href="change.html">Change</a>
      </div>
    </div>

    <button mat-button>Proceed to Payment</button>
    <button mat-button>Cancel Order</button>
  </mat-card>

  <div class="attribution">
    <h3>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://www.github.com/marvinrusinek">Marvin Rusinek</a>.</h3>
  </div>
</main>
